html,body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffc8f9;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    aspect-ratio: 1/1;
    border: 3px solid grey;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black;
    
}

.main div{
    width: calc(100% / var(--size));
    aspect-ratio: 1/1;
    
}

.hover{
    background-color:#282b30;
    opacity: calc(var(--count) * 0.1);
}

.changesize{
    margin-bottom: 20px;
    font-size:13px;
    background-color: #ffc8f9;
    border: 5px solid whitesmoke;
    padding:6px;
    border-radius: 5px;
    font-weight: bold;
}