html,body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    aspect-ratio: 1/1;
    
}

.main div{
    width: calc(100% / var(--size));
    aspect-ratio: 1/1;
}

.hover{
    background-color:#282b30;
    opacity: 50%;
}
.hoverleveltwo{
    background-color:#282b30;
    opacity: 75%
}
.hoverlevelthree{
    background-color:#282b30;
    opacity: 100%
}
